* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #525350;
    padding: 16px 0;
    color: antiquewhite;
}

header .container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a {
    color: antiquewhite;
    text-decoration: none;
    margin-left: 16px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color:blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight:bolder;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p
.articles article a {
     font-family:Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgb(215, 252, 216);
}

#sports .articles article a {
    background-color: #48961c;
}

#economy {
    background-color: rgb(253, 255, 147);
}

#economy .articles article a {
    background-color:orange
}

#entertainment {
    background-color: rgb(238, 238, 241);
}

#entertainment .articles article a {
    background-color: rgb(126, 33, 33);
}

#technology {
    background-color: rgb(238, 238, 241);
}

#technology .articles article a {
    background-color: rgb(168, 38, 219);
}